earthengine_api==0.1.347
geopandas==0.14.1
matplotlib==3.8.0
numpy==1.24.4
pandas==2.2.2
pdemtools==0.8.0
rasterio==1.3.8
rioxarray==0.15.1
s3fs==2023.9.1
scipy==1.13.1
seaborn==0.13.2
Shapely==2.0.4
xarray==2023.8.0
