*/*

!aerodem/aerodem_download.bat

!arcticdem/arcticdem_strip-index_download.bat
!arcticdem/elevation_arcticdem_points.nc
!arcticdem/arcticdem_counts.geojson

!asterdem/elevation_asterdem_points.nc

!grimpdem/grimpdem_download.bat

!icesat2/icesat2_download.bat

